<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Lista de Compras</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<table>
		<thead>
			<tr>
				<td>ID</td>
				<td>Data da Compra</td>
				<td>Fornecedor</td>
			</tr>
		</thead>
		<tbody>
			<tr th:each="compra : ${compras}">
				<td th:text="${compra.idCompra}" ></td>
				<td th:text="${compra.dataCompra}" ></td>
				<td th:text="${compra.fornecedor.nomeFornecedor}" ></td>
			</tr>
		</tbody>
	</table>
	<button><a th:href="@{/compra/cadastrar}">Cadastrar</a></button>
	<button><a th:href="@{/}">Home</a></button>
</body>
</html>