<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Cadastro de Fornecedores</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <form action="#" th:action="@{/colaborador/salvar}" th:object="${colaborador}" method="post">
        <input type="hidden" th:field="*{idColaborador}"/>
       
        <label for="login">Login</label>
        <input type="text" th:field="*{login}" id="login" placeholder="Login">
                
        <label for="senha">Senha</label>
        <input type="password" th:field="*{password}" id="password" placeholder="password" />
        
        <select name="permissao">
            <option th:each="permissoes : ${T(leonardo.projeto.estoque.projetoestoque.domain.enums.Permissao).values()}"
                th:value="${permissoes.cod}" th:text="${permissoes.permissao}"></option>
        </select>
        
        <input type="submit" value="Add User">   
    </form>
    <button><a th:href="@{/}">Home</a></button>
</body>
</html>